html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

/* Heading and Paragraph Styling */
h1 {
    color: #33577e;
    font-size: 320%;
    margin-bottom: 3%;
}

.p1 {
    color: #33577e;
    font-size: 170%;
    margin-top: 1%;
}

/* Button Styling */
.button {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    width: 15%;
    height: 80px;
    margin-bottom: 2%;
    border-radius: 50px;
    background-color: #33577e;
    box-shadow: 0 4px 6px rgba(7, 26, 46, 0.7);
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(7, 26, 46, 0.5);
}

.button:active {
    opacity: 0.5;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px; /* Adjust the value to increase or decrease space */
    margin-top: 0;
}

/* Navbar Styling */
nav {
    box-shadow: 0 5px 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #33577e;
    z-index: 1000;
}

body {
    padding-top: 100px; /* Adjust based on the height of your navbar */
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul button {
    border-radius: 20px;
    height: 100px;
    width: 200px;
    font-size: 16px;
    background-color: #33577e;
    border: none;
    color: white;
    cursor: pointer;
}

nav ul button:hover {
    background: #406d9d;
}

.spinner {
    margin-left: auto;
}

/* Logo Styling */
#logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}

#logo {
    height: 180px;
    background-color: #ffff;
    border-radius: 50%;
    border: solid #33577e 30px;
}

/* Hero Sections Styling */
.hero {
    width: 100vw;
    background: #8eaac8;
    background-size: 100%;
    color: #fff;
    text-align: center;
    padding: 5%;
}

.hero0 {
    background-color: #548fcf;
    height: 500px;
    color: white;
    overflow: hidden;
}

.hero2 {
    background: #8eaac8;
    height: 550px;
    overflow: hidden;
}

.hero3 {
    background-color: #548fcf;
    text-align: center;
    padding: 50px 20px;
}

.hero4 {
    background-color: #2b6ba2;
    height: 550px;
    overflow: hidden;
}

/* Text Styling in Hero Sections */
.hero0 h2, .hero2 h2, .hero3 h2, .hero4 h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.hero0 p, .hero2 p, .hero3 p, .hero4 p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.hero0 h2 {
    font-size: 35px;
}

.hero2 h2 {
    color: #33577e;
}

.hero3 h2 {
    font-size: 40px;
    margin-bottom: 20px;
    animation: fadeInRight 2s ease;
}

.hero4 h2 {
    color: #f8f8f8;
}

/* Container Styling */
.container, .container2, .container3, .container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 80px auto;
}

/* Team Member Card Styling */
.team-member {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 90px;
    animation: fadeInRight 2s ease;
}

.team-member .card {
    background: #b1bfce;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    max-width: 300px;
    text-align: center;
}

.card-image {
    margin: 30px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
    padding-top: 40px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #33577e;
    margin-bottom: 10px;
}

.role {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.social-media {
    margin-top: 15px;
}

.social-media a {
    color: #33577e;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #619cda;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover .card-image {
    transform: translateY(-10px);
}

/* Help Button Styling */
.help-button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #46709c;
    border-radius: 10px 0 0 10px;
    padding: 5px 0;
    box-shadow: 0 0 5px;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46709c;
    color: white;
    cursor: pointer;
    margin: 5px 0;
    font-size: 20px;
}

.icon:hover {
    background-color: #483f93;
}

.help-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.help-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.help-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.help-close:hover, .help-close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Footer Styling */
.contact-us {
    padding: 30px 0;
    background-color: #1c4569;
}

.site-footer {
    color: #1c3c57;
    margin: -100px 0;
}

.site-footer h3 {
    color: #4b7fac;
    font-size: 19px;
}

.site-footer p {
    margin: 10px 0;
    font-size: 15px;
    color: #437199;
}

.column {
    text-align: left;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons i {
    margin-left: 10px;
    font-size: 1.5rem;
    color: #ccc;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar li {
        margin: 5px 0;
    }
}

/* Keyframes for Animations */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes spinning82341 {
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}
